<h2 mat-dialog-title>Edit Device</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="p-3">
  <div [formGroup]="editDeviceForm" class="w-100">
    <mat-form-field class="w-100">
      <input formControlName="name" matInput placeholder="Device Name" maxlength="100">
      <mat-error *ngIf="isControlHasError('name', 'required')">
        <strong>* Required field</strong>
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button class="ml-3" (click)="submit()" [disabled]="!this.editDeviceForm.valid || isLoading" mat-raised-button color="primary">
    <mat-icon *ngIf="isLoading"><mat-spinner color="primary" diameter="20" strokeWidth="5"></mat-spinner></mat-icon>
    Save
  </button>
</mat-dialog-actions>
