::ng-deep .mat-list-base {
  padding-top: 0 !important;
}

.full-height-gt-xs {
  height: calc(100% - 64px);
}

.full-height-lt-sm {
  height: calc(100% - 56px);
}

.dark-bg {
  background-color: #3e4244;
  color: white;
}

.relative {
  position: absolute;
  height: 64px;
  width: 64px;
  top: 0;
  left: 0;
  background-color: #103350;
}


.header {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1a0f5d
  ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;

  label {
    color: whitesmoke;
  }
}
