
.container-1 {
  background-color: #1a0f5e;

  img {
    height: 650px;
  }


}

.credit {
  background-color: #1a0f5e;
  padding-bottom: 15px;
  padding-right: 350px;

  a {
    color: whitesmoke !important;
    font-size: small;
    font-weight: 100;
  }
}
