
<div class="container-1" fxLayout="row">
  <div fxFlex fxLayout="column" fxLayoutAlign="center start" >
    <div class="main-text">
      Predictive maintenance refers to the use of data-driven,
      proactive maintenance methods that are designed to analyze the condition of equipment and help predict when maintenance should be performed.
    </div>
    <a class="round-button" href="https://en.wikipedia.org/wiki/Predictive_maintenance" target="_blank">Read More</a>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="end center">
    <img src="assets/images/769.jpg" />
  </div>
</div>
<div class="credit" fxLayout="row" fxLayoutAlign="end center">
  <a href="https://www.freepik.com/fullvector" target="_blank">Image From Freepik.com</a>
</div>

<div class="container-2">

  <div fxLayout="row" fxLayoutAlign="center center" class="p-3">
    <label class="text-title">Key Benefits</label>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center" class="px-4 py-4">
    <div class="card">
      <div class="title">
        Reduce unplanned downtime
      </div>
      <div class="body">
        Predict asset failure and initiate action to avoid breakdowns.
      </div>
    </div>

    <div class="card">
      <div class="title">
        Reduce maintenance costs
      </div>
      <div class="body">
        Avoid over-maintaining assets by enabling scheduled maintenance before failure based on early warnings.
      </div>
    </div>

    <div class="card">
      <div class="title">
        Improve asset utilization
      </div>
      <div class="body">
        Enable more efficient use of existing assets when you can predict maintenance issues and reduce failures on the job.
      </div>
    </div>

    <div class="card">
      <div class="title">
        Extend asset life
      </div>
      <div class="body">
        Identify operational performance factors and improve maintenance practices and reliability.
      </div>
    </div>
  </div>

</div>
