<div [formGroup]="uploadForm" fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field appearance="fill">
    <mat-label>Select Device</mat-label>
    <mat-select formControlName="id">
      <mat-option *ngFor="let device of deviceList" [value]="device.deviceId">{{device.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="uploadfilecontainer" [ngClass]="{'disable-div': ((progress > 0) || hideDragNDrop) }"
  (click)="fileInput.value = ''; fileInput.click()" appDragDrop (whenFileDropped)="fileChangeEvent($event)"
  fxLayout="column" fxLayoutAlign="center center">
  <mat-icon aria-label="upload">cloud_upload</mat-icon>
  <p *ngIf="hideDragNDrop">Please select the device to proceed</p>
  <p *ngIf="!hideDragNDrop">Drop your file here or click to add file</p>
  <input hidden type="file" #fileInput [accept]="validFileTypes.join(',')" (change)="fileChangeEvent($event)">
</div>
<!-- <p *ngIf="progress > 0" class="font-italic m-0">Uploading...</p> -->
<div class="files-list" *ngIf="(selectedFile !== undefined) && showFileList" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center" class="pl-2">
    <mat-icon aria-label="file">description</mat-icon>
    <p class="p-2"> {{ selectedFile.name }} </p>
  </div>
  <button mat-icon-button matTooltip="Click to delete" class="" color="warn" (click)="selectedFile = undefined">
    <mat-icon aria-label="delete">delete_outline</mat-icon>
  </button>
</div>
<div style="padding-right: 10%;">
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button [disabled]="((progress > 0) || (selectedFile === undefined))" aria-label="Upload File" class="mb-3" color="primary" (click)="uploadFile()">
      <mat-icon>file_upload</mat-icon>
      <span *ngIf="progress == 0">Upload</span>
      <span *ngIf="progress > 0">Uploading...</span>
    </button>
  </div>
</div>
